extends layout.pug

block content
  - var count = 0
  form(class="border border-primary" style="width:60%;padding:10px;margin:10px")
    .row
      each n in allInc
        .cold-md-3
          .card-body
            p= "Numero de incidencia: " + (count)
            p= "Nombre: " + allInc[count].nombre
            p= "DNI: " + allInc[count].dni
            p= "Tipo de Incidencia: " + allInc[count].incidencia
            p= "Urgencia: " + allInc[count].urgencia 
            p= "Descripcion: " + allInc[count].descripcion
            .row(style='text-align: left;')
              .col-md-6
                a(href='/incidencias/delete/' + allInc[count]._id) 
                  button(type="button") Eliminar
                a(href='/incidencias/' + count) 
                  button(type="button") Editar
            p.border-bottom
            - count = count + 1;
            br
