extends layout

block content
  h3 Bienvenido a Chat Node
  a(href='/chat') 
    button(type="button") Chat
  a(href='/formulario') 
    button(type="button") Formulario
  a(href='/incidencias') 
    button(type="button") Incidencias
